.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .contact-info {
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contact-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333333;
  }
  
  .contact-info p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #666666;
  }
  
  .search-bar {
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar input[type="text"] {
    width: 200px;
    padding: 8px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .language-options {
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .language-options select {
    padding: 8px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .language-options select option {
    font-size: 14px;
  }
  
  .contact-info,
  .language-options {
    width: 250px;
  }
  
  @media screen and (min-width: 768px) {
    .contact-info,
    .search-bar,
    .language-options {
      width: 300px;
    }
  }
  
  